@import "tailwindcss";

@theme {
  --color-light-main-bg: #f7f7fa;
  --color-light-black: #202224;
  --color-primary-light: #4880ff;

}

.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  border: none !important;
}

.sidebar-active-link::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--color-primary-light);
  border-radius: 0 5px 5px 0 ;
}