@import 'tailwindcss';
@import './embla.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@theme {
  --font-inter: 'Inter', sans-serif;

  --color-light-main-bg: #f7f7fa;
  --color-light-black: #202224;
  --color-primary-light: #4880ff;
  --color-icon-purple: #8280ff;
  --color-icon-yellow: #fec53d;
  --color-icon-green: #4ad991;
  --color-icon-orange: #ff9872;
  --color-bg-purple: #e4e4ff;
  --color-bg-yellow: #fef2d6;
  --color-bg-green: #d9f7d7;
  --color-bg-orange: #ffded2;
  --color-bg-melo-blue: #ebf1fb;
  --color-dark-green: #00a76f;
  --color-main-green: #22c55e;
  --color-main-yellow: #ffab00;
  --color-main-red: #ff5630;

  --palette-grey-900: #141a21;
  --palette-grey-900Channel: rgb(20, 26, 33);

  --pattern-img: url('./assets/images/pricingPattern.png');
  --banner-bg: url('./assets/images/banner-bg.webp');

  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
  --detail-high-contrast-rgb-value: 192, 192, 192;
}
body {
  background-color: var(--color-light-main-bg);
  font-family: 'Inter', sans-serif;
}

.banner-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url('./assets/images/banner-bg.webp');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  border: none !important;
}

.sidebar-active-link::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--color-primary-light);
  border-radius: 0 5px 5px 0;
}

textarea {
  resize: none;
}

.rbc-toolbar-label {
  font-size: 24px;
  color: var(--color-light-black);
  font-weight: 500;
}

.rbc-month-header {
  background-color: #f1f4f9;
  height: 48px !important;
  color: var(--color-light-black);
  padding-top: 1.5rem;
  height: 4rem !important;
  border-radius: 15px 15px 0 0 !important;
}

.rbc-month-view {
  margin-top: 2rem;
  background-color: white;
  border-radius: 15px !important;
}

.rbc-off-range-bg {
  background-image: url('./assets/images/pattern.jpg') !important;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: var(--color-primary-light) !important;
  color: var(--color-light-main-bg) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.rbc-btn-group {
  margin-top: 2rem;
}
@media screen and (max-width: 900px) {
  .rbc-btn-group {
    margin-top: 0rem;
  }
  .rbc-toolbar > span:first-child {
    display: none !important;
  }
  .rbc-toolbar > span:last-child {
    margin-top: 1rem;
  }
}
.rbc-toolbar button {
  padding: 0.75rem 1rem !important;
}
.rbc-toolbar button:last-child {
  border-radius: 0 40px 40px 0 !important;
}
.rbc-toolbar button:first-child {
  border-radius: 40px 0 0 40px !important;
}

#products .css-1j1cers-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0.75rem !important;
}
#products .css-128fb87-MuiDataGrid-toolbarContainer {
  padding: 18px 15px !important;
}
#products .css-yseucu-MuiDataGrid-columnHeaderRow {
  background-color: #f1f4f9 !important;
}

.css-128fb87-MuiDataGrid-toolbarContainer button {
  font-weight: bold;
  color: var(--color-light-black) !important;
}
.css-128fb87-MuiDataGrid-toolbarContainer button:nth-child(1) {
  color: var(--color-dark-green) !important;
}
.css-128fb87-MuiDataGrid-toolbarContainer button:nth-child(2) {
  color: var(--color-main-yellow) !important;
}
.css-128fb87-MuiDataGrid-toolbarContainer button:nth-child(3) {
  color: var(--color-main-red) !important;
}
.css-128fb87-MuiDataGrid-toolbarContainer button:nth-child(4) {
  color: var(--color-primary-light) !important;
}
